button{
    width: 150px;
    height: 50px;
    background-color: rgb(79, 79, 79);
    border: none;
    border-radius: 9px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

button:hover{
    background-color: goldenrod;
}